/* Header styles */
.logo {
    height: 200px;
    width: 200px;
  }
  

  .main-heading__title {
    font-size: 48px;
    font-style: italic;
    margin: 0;
  }
  

  .main-heading__subtitle {
    font-size: 30px;
    font-style: italic;
    margin: 5;
  }
  
  .main-heading__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .main-heading__nav-link {
    text-decoration: none;
    color: #000;
    background-color: rgb(180, 180, 180);
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    
  }

  /*--Main Styles--*/

 

/*footer styles*/
.footer-text {
color: black;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(180, 180, 180);
color: black;
text-align: center;

}

.rights {
font-size:20px;
color: black;
 
}




